        body, html
        {
            margin: 0;
            height: 100%;    
            color: rgb(0,0,0);   
             }
        .bg{
            background-image: url("background.png");
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
        }
        .title{
            text-align: center;
            font-size: 50px;
        }
        .orcamento{
            align-items: flex-start;            
        }
        .whatsapp-icon {
            display: inline-block;
            background: #25D366; /* Cor verde do WhatsApp */
            padding: 10px;
            border-radius: 50%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            text-decoration: none;
            color: white;
            font-size: 20px;
            align-items: flex-end;
            margin-top: auto;
        }
        .menu{
            background-color: rgba(0 0 0);
            display: flex-start;
            top: 0;
            position: fixed;
            width: 100%;
            padding: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            z-index: 999;
            font-size: 40px; 
            color: white;           
        }